<div id = "text">
	here is the results<br>
		<div id = box>
			<%=isbn%> <%=results%>
		</div>
</div>
<form method = "post" action = "almost_done">
<input type = "hidden" name = single_isbn[] value = "<%=isbn%>">
<input type = "hidden" name = single_isbn[] value = "<%=results%>">
<input type = "submit" value = "enter">
</form>