<div id = "text">
Here is all the isbn so far
	<div id = "box">
			<%bucket_isbn.each do |item|%>
				<%=item%><br>
			<%end%>
			<%count = bucket_isbn.count%>
				<%=count%>,<%=single_isbn[0]%>,<%=single_isbn[1]%>
				<%bucket_isbn << "#{count},#{single_isbn[0]},#{single_isbn[1]}"%>
	</div>
</div>

		



	<%CSV.open("test.csv", "wb") do |csv|%>
		<%bucket_isbn.each do |item|%>
			<%csv << [item]%>
		<%end%>
	<%end%>
<% s3 = Aws::S3::Resource.new(region: 'us-east-2')%>
<% obj = s3.bucket("sms-isbn-bucket").object("results.csv") %>
<%File.open('test.csv', 'rb') do |file|%>
  <%    obj.put(body: file)%>
<%end%>

<form method = "post" name = "final">
<input type = "submit" value = "check the bucket">
</form>


