here is isbn with validations<br><br>

<div id = "list">
	<%count = 1%>
	<%until count == isbn_arr.length%>
		<%=count%>,<%=isbn_arr[count]%>,<%=valid_arr[count]%><br>
		<%count += 1%>
	<%end%>
</div>