header{
	padding: 12vh;
	margin:0;
	font-size: 12vh;
	background-image:url("/images/borders-png-30.png");
	background-size: 100%,100%;
	background-repeat:no-repeat;
	color:yellow;
	text-align:center;
	background-color:rgba(108, 127, 110, 0.59);
    padding-bottom: 50vh;
    text-shadow: -4px 0px 4px #47d03b;
}

body{

	background-image:url("/images/apocalypse.jpg");
	background-size:cover;
	background-repeat: no-repeat;

}

#text{
	color:yellow;
	font-size:5vh;
	text-align: center;
	padding: 3vh;
	text-shadow: -4px 0px 4px #47d03b;
}





#box{
	border-style:groove;
	border-color:gray;
	padding:0;
	margin:15vh;
	overflow: hidden;

}
#list{
	font-size:2vh;
	border-style:double;
	border-color:black;
	padding:0;
	margin-left:50vh;
	margin-right:50vh;
	background-color:rgba(246, 121, 18, 0.79);
	border-radius: 5vh;
	
}